* {
  margin: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo {
  margin: 16px 0px 0px 0px;
}

.complete {
  color: green;
  font-size: 10px;
}

.complete:hover {
  cursor: pointer;
  opacity: 0.7;
}

.delete {
  color: red;
  font-size: 10px;
}

.delete:hover {
  cursor: pointer;
  opacity: 0.7;
}
